<div>
  <h1>Daily Tasks</h1>

  @for ((task of tasks$ | async) ; track tasks$) {
  <mat-card class="dashboard-card">
    <mat-card-header>
      <mat-card-title>
        <h2>
          {{ task.title }}
        </h2>
        <button
          mat-icon-button
          class="more-button"
          [matMenuTriggerFor]="menu"
          aria-label="Toggle menu"
        >
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu" xPosition="before">
          <button mat-menu-item>Expand</button>
          <button mat-menu-item (click)="deleteTask(task._id)">Remove</button>
        </mat-menu>
      </mat-card-title>
    </mat-card-header>

    <mat-card-content class="dashboard-card-content">
      <div>Creation time : {{ task.creationDate }}</div>
      <div>Due time : {{ task.dueDate }}</div>
      <div>Priority : {{ task.priority }}</div>
    </mat-card-content>
  </mat-card>
  }
</div>
