.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 100%;
}

.sidenav .mat-toolbar {
  display: flex;
  justify-content: space-between;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.topnav-buttons {
  padding-left: 5%;
  display: flex;
}

.stretch-container {
  display: flex;
  align-items: stretch;
  align-content: stretch;
  height: 100%;
  flex-direction: column;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.stretch {
  flex: 1 1 auto;
}
