<mat-sidenav-container>
  <mat-sidenav
    #drawer
    class="full-width"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    mode="over"
    autoFocus="false"
  >
    @if (isHandset$ | async) {
    <div class="flex-col full-height">
      <mat-toolbar color="primary">
        <h2>Menu</h2>
        <button
          mat-icon-button
          aria-label="Close side nav"
          (click)="drawer.toggle()"
        >
          <mat-icon aria-label="Cross icon on close button ">close</mat-icon>
        </button>
      </mat-toolbar>
      <mat-nav-list class="flex-col stretch">
        <a mat-list-item routerLink="/" (click)="drawer.toggle()">Home</a>
        <a mat-list-item routerLink="/about" (click)="drawer.toggle()">About</a>
        <button
          id="logout-mobile"
          mat-raised-button
          color="warn"
          class="push-top"
          (click)="drawer.toggle(); logout()"
        >
          Log out
        </button>
      </mat-nav-list>
    </div>
    }
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary" class="space-between">
      @if (isHandset$ | async) {
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        onclick="this.blur()"
        (click)="drawer.toggle()"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <span routerLink="/" class="pointer"> Reminder App </span>
      } @else {
      <span routerLink="/" class="pointer logo">
        <h2>Reminder App</h2>
      </span>

      <div class="stretch space-between">
        <span>
          <a mat-button routerLink="/">Home</a>
          <a mat-button routerLink="/about">About</a>
        </span>

        <button mat-button color="warn" class="" (click)="logout()">
          Log out
        </button>
      </div>
      }
    </mat-toolbar>
    <router-outlet class="app"></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
