.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.logo {
  margin-right:5%;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

#logout-mobile {
  margin: auto 1.5rem 1rem;
}
