/* You can add global styles to this file, and also import other style files */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  --main-bg-color: #303030;
  --secondary-bg-color: #424242;
  --primary-color: #7b1fa2;
  --secondary-color: #69f0ae;
  --warn-color: #f44336;
  --text-color: #ffffff;

  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--main-bg-color);
  color: var(--text-color);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: var(--text-color);
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.space-between{
  display: flex;
  justify-content: space-between;
}

.stretch {
  flex: 1 1 auto;
}

.push-left {
  margin-left: auto;
}

.push-top {
  margin-top: auto;
}

.pointer {
  cursor: pointer;
}
