<div>
  <div class="header center">
    <h1>Create new task</h1>
  </div>

  <mat-card class="center">
    <mat-card-content>
      <form (ngSubmit)="onSubmit()" [formGroup]="createTaskForm">
        <mat-form-field>
          <mat-label for="title-input">Title</mat-label>
          <input
            matInput
            formControlName="title"
            id="title-input"
            name="title"
            type="text"
            placeholder="task title"
          />
        </mat-form-field>

        <mat-form-field>
          <mat-label for="priority-input">Priority</mat-label>
          <mat-select formControlName="priority">
            <mat-option value="low">Low</mat-option>
            <mat-option value="medium">Medium</mat-option>
            <mat-option value="high">High</mat-option>
          </mat-select>
        </mat-form-field>

        <div class="checkbox">
          <p>Is periodic task ?</p>
          <mat-checkbox
            class="example-margin"
            formControlName="isRepeatingTask"
          ></mat-checkbox>
        </div>

        @if (createTaskForm.value.isRepeatingTask) {
        <mat-form-field>
          <mat-label for="dueTime-input">Interval</mat-label>
          <mat-select formControlName="interval">
            <mat-option value="daily">Daily</mat-option>
            <mat-option value="weekly">Weekly</mat-option>
            <mat-option value="monthly">Monthly</mat-option>
          </mat-select>
        </mat-form-field>

        } @else {
        <mat-form-field>
          <mat-label for="dueTime-input">Due date</mat-label>
          <input
            matInput
            formControlName="dueTime"
            id="dueTime-input"
            name="dueTime"
            type="date"
          />
        </mat-form-field>
        }

        <div id="buttons">
          <button
            mat-raised-button
            color="accent"
            type="submit"
            [disabled]="!createTaskForm.valid"
          >
            Create
          </button>
          <button mat-raised-button color="warn" type="button" routerLink="/">
            Cancel
          </button>
        </div>
      </form>
    </mat-card-content>

    @if (snackBarError) {
    <mat-error>{{ snackBarError }}</mat-error>
    }
  </mat-card>
</div>
