mat-card {
  width: min(25rem, 60%);
  padding: min(1rem, 1%);
}

mat-form-field {
  display: block;
}

.center {
  text-align: center;
  margin: 3rem auto;
}

.checkbox {
  display: flex;
  gap: .5em;
  align-items: center;
}

.checkbox p {
  margin: 0;
}

.mobile-buttons {
  flex-direction: column;
  gap: 0.6rem;
}

#buttons {
  display: flex;
  justify-content: space-between;
}
